#pane {
    -fx-background-color: #a2dba0;
}

#labelConstruction {
    -fx-font-size: 30px;
}

.label {
    -fx-text-fill: #011400;
    -fx-font-family:"courier new";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family:"courier new";
    -fx-font-weight: bold;
}

#tableview {
    -fx-background-color: #a2dba0;
}